# Dimensions
common_dimensions = ["account_id", "region"]
tag_dimensions    = []
mandatory_tags = ["Environment", "Owner"]
prohibited_tags = ["Password", "Key"]
tag_limit = 45
expected_tag_values = {
  // Simple match
  "Environment": ["Prod", "Staging", "Dev"]

  // Match with prefix
  "CostCenter": ["cc-%"]

  // Match with wildcard character
  "StrictCostCenter": ["cc-____"]

  // Unfortunately, escaping is required for exact match. But, in many cases
  // it wouldn't really matter: % is unusual and _ matches a single char only.
  "created_by": ["john\_doe"]
}
